/* line 5, ../../app/stylesheets/_base.scss */
body {
  font-size: 10px;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
}

/* line 1, ../../app/stylesheets/_footer.scss */
#footerNav * {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 7, ../../app/stylesheets/_footer.scss */
#footerNav {
  display: block;
  float: left;
  width: 100%;
  height: 43px;
  background: black;
  overflow: none;
}
/* line 15, ../../app/stylesheets/_footer.scss */
#footerNav .footerContainer {
  text-align: center;
  overflow: hidden;
  position: relative;
}
/* line 21, ../../app/stylesheets/_footer.scss */
#footerNav li {
  width: 32%;
  height: 43px;
  list-style-type: none;
  display: inline-block;
  background: url("/images/footer_border.png") 0 0 repeat-y;
  text-align: center;
}
/* line 28, ../../app/stylesheets/_footer.scss */
#footerNav li a {
  position: relative;
  top: 16px;
  height: 43px;
  font-family: "Arial", Arial, sans-serif;
  font-size: 0.8em;
  font-weight: normal;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 43, ../../app/stylesheets/_footer.scss */
#footerNav li:first-child {
  background: none;
}
/* line 48, ../../app/stylesheets/_footer.scss */
#footerNav .leftTriangle,
#footerNav .rightTriangle {
  z-index: 1;
  content: "";
  border-color: #e6e3dc transparent transparent transparent;
  border-style: solid;
  border-width: 8.5px;
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -8px;
}
/* line 61, ../../app/stylesheets/_footer.scss */
#footerNav .leftTriangle {
  left: 32%;
}
/* line 65, ../../app/stylesheets/_footer.scss */
#footerNav .rightTriangle {
  left: 64%;
}

/* line 5, ../../app/stylesheets/index.scss */
.colmask {
  clear: both;
  float: left;
  width: 100%;
  overflow: hidden;
}

/* line 12, ../../app/stylesheets/index.scss */
.fullpage {
  width: 96%;
  left: 2%;
}

/* line 17, ../../app/stylesheets/index.scss */
#variation-carousel {
  border: none;
  background: black;
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* line 25, ../../app/stylesheets/index.scss */
#mainNavBar {
  clear: both;
  float: left;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: -10px;
  display: block;
  background: black;
}
/* line 39, ../../app/stylesheets/index.scss */
#mainNavBar .logo {
  background: url(/images/good-lg.png) no-repeat;
  height: 25px;
  float: left;
  overflow: hidden;
  text-indent: -9999px;
  display: inline;
  width: 43.5px;
}
/* line 46, ../../app/stylesheets/index.scss */
#mainNavBar .logo a {
  height: 25px;
  display: block;
}
/* line 49, ../../app/stylesheets/index.scss */
#mainNavBar .logo a:hover {
  background: url(/images/good-lg-down.png) no-repeat;
}

/* line 55, ../../app/stylesheets/index.scss */
.topics {
  position: absolute;
  right: 150px;
  top: 12px;
  display: none;
}

/* line 62, ../../app/stylesheets/index.scss */
#featuredContent {
  width: 100%;
  clear: both;
  position: relative;
  padding-top: 5px;
  background-color: #000;
}
/* line 71, ../../app/stylesheets/index.scss */
#featuredContent #holder {
  float: left;
  margin-bottom: 7px;
}
/* line 76, ../../app/stylesheets/index.scss */
#featuredContent .galleryImageContainer {
  border-top: solid 1px #333;
  padding-top: 10px;
  padding-left: 16.3%;
  margin-right: -5%;
  margin-left: 5px;
  display: block;
  position: relative;
  width: 80%;
  overflow: hidden;
}
/* line 88, ../../app/stylesheets/index.scss */
#featuredContent .galleryImage {
  text-align: center;
}
/* line 92, ../../app/stylesheets/index.scss */
#featuredContent .rosas {
  width: 300px;
  height: 150px;
  margin: auto;
}
/* line 98, ../../app/stylesheets/index.scss */
#featuredContent .origCategoryTitle {
  width: 290px;
  height: 16px;
  line-height: 1.3em;
  padding: 5px;
  position: relative;
  top: -23px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  margin: auto;
  font-size: 0.9em;
  font-family: "Arial", Arial, sans-serif;
}
/* line 115, ../../app/stylesheets/index.scss */
#featuredContent .origPostTitle {
  position: relative;
  padding-left: 0;
  padding-bottom: 15px;
  padding-top: 12px;
  font-size: 1.7em;
  font-family: Georgia, serif;
  line-height: 1.3em;
  color: #fff;
  width: 300px;
  margin: auto;
}
/* line 130, ../../app/stylesheets/index.scss */
#featuredContent .origPostTitle a {
  text-decoration: none;
  color: #fff;
  font-weight: normal;
}
/* line 134, ../../app/stylesheets/index.scss */
#featuredContent .origPostTitle a:active, #featuredContent .origPostTitle a:visited {
  color: #fff;
}
/* line 137, ../../app/stylesheets/index.scss */
#featuredContent .origPostTitle a:hover {
  color: #fff;
  text-decoration: underline;
}
/* line 144, ../../app/stylesheets/index.scss */
#featuredContent .categoryTitle {
  position: relative;
  height: 16px;
  line-height: 1.3em;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  margin: auto;
  font-size: 0.9em;
  font-family: "Arial", Arial, sans-serif;
}
/* line 158, ../../app/stylesheets/index.scss */
#featuredContent .categoryTitleVar {
  height: 16px;
  line-height: 1.3em;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  margin: auto;
  margin-bottom: -10px;
  font-size: 0.9em;
  font-family: "Arial", Arial, sans-serif;
  padding-bottom: 10px;
  padding-top: 7px;
}
/* line 174, ../../app/stylesheets/index.scss */
#featuredContent #slideTitles {
  position: relative;
  overflow: hidden;
  width: 300px;
  margin: 0 auto;
}
/* line 181, ../../app/stylesheets/index.scss */
#featuredContent .postInfo {
  float: left;
}
/* line 185, ../../app/stylesheets/index.scss */
#featuredContent .postTitle {
  position: relative;
  padding-left: 0;
  padding-bottom: 15px;
  font-size: 1.7em;
  font-family: Georgia, serif;
  line-height: 1.3em;
  color: #fff;
  margin: auto;
}
/* line 199, ../../app/stylesheets/index.scss */
#featuredContent .postTitle a {
  text-decoration: none;
  color: #fff;
  font-weight: normal;
}
/* line 203, ../../app/stylesheets/index.scss */
#featuredContent .postTitle a:active, #featuredContent .postTitle a:visited {
  color: #fff;
}
/* line 206, ../../app/stylesheets/index.scss */
#featuredContent .postTitle a:hover {
  color: #fff;
  text-decoration: underline;
}

/* line 214, ../../app/stylesheets/index.scss */
.triangle {
  z-index: 1;
  content: "";
  border-color: #000 transparent transparent transparent;
  border-style: solid;
  border-width: 15px;
  position: absolute;
  top: 98%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -15.5px;
}

/* line 230, ../../app/stylesheets/index.scss */
#recentStories {
  background: #000;
  display: block;
  float: left;
  width: 100%;
  height: 18px;
}
/* line 236, ../../app/stylesheets/index.scss */
#recentStories .titleDivider {
  display: block;
  padding-left: 10px;
  padding-top: 5px;
  background: #09f;
  height: 25px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Arial", Arial, sans-serif;
  font-weight: normal;
  font-size: 0.9em;
}

/* line 252, ../../app/stylesheets/index.scss */
#postList {
  list-style: none;
  display: block;
  padding: 0;
  float: left;
  background: #fff;
}
/* line 258, ../../app/stylesheets/index.scss */
#postList .storyWrapper {
  float: left;
  width: 100%;
  border-top: 1px solid #aaaaaa;
  padding-top: 8px;
  padding-bottom: 8px;
  background: #fff;
}
/* line 267, ../../app/stylesheets/index.scss */
#postList .storyWrapper .storyContent {
  padding-left: 10px;
}
/* line 269, ../../app/stylesheets/index.scss */
#postList .storyWrapper .storyContent .image {
  float: left;
  display: block;
}
/* line 274, ../../app/stylesheets/index.scss */
#postList .storyWrapper .storyContent .category-title {
  margin-left: 100px;
  font-size: 0.9em;
  font-family: "Arial", Arial, sans-serif;
  text-transform: uppercase;
}
/* line 77, ../../app/stylesheets/_colors.scss */
#postList .storyWrapper .storyContent .category-title {
  color: #73716e;
}
/* line 80, ../../app/stylesheets/_colors.scss */
#postList .storyWrapper .storyContent .category-title.action {
  color: #00aeef;
}
/* line 83, ../../app/stylesheets/_colors.scss */
#postList .storyWrapper .storyContent .category-title.art-and-design {
  color: #ff7bac;
}
/* line 86, ../../app/stylesheets/_colors.scss */
#postList .storyWrapper .storyContent .category-title.business-and-money {
  color: #363795;
}
/* line 89, ../../app/stylesheets/_colors.scss */
#postList .storyWrapper .storyContent .category-title.cities {
  color: #b4bbbf;
}
/* line 92, ../../app/stylesheets/_colors.scss */
#postList .storyWrapper .storyContent .category-title.culture {
  color: #faa85f;
}
/* line 95, ../../app/stylesheets/_colors.scss */
#postList .storyWrapper .storyContent .category-title.education {
  color: #ffcd67;
}
/* line 98, ../../app/stylesheets/_colors.scss */
#postList .storyWrapper .storyContent .category-title.environment {
  color: #4b8044;
}
/* line 101, ../../app/stylesheets/_colors.scss */
#postList .storyWrapper .storyContent .category-title.food {
  color: #c657a0;
}
/* line 104, ../../app/stylesheets/_colors.scss */
#postList .storyWrapper .storyContent .category-title.health {
  color: #6a9ac2;
}
/* line 107, ../../app/stylesheets/_colors.scss */
#postList .storyWrapper .storyContent .category-title.media {
  color: #db4140;
}
/* line 110, ../../app/stylesheets/_colors.scss */
#postList .storyWrapper .storyContent .category-title.politics {
  color: #001722;
}
/* line 113, ../../app/stylesheets/_colors.scss */
#postList .storyWrapper .storyContent .category-title.technology {
  color: #8f807d;
}
/* line 116, ../../app/stylesheets/_colors.scss */
#postList .storyWrapper .storyContent .category-title.transportation {
  color: #ba784d;
}
/* line 284, ../../app/stylesheets/index.scss */
#postList .storyWrapper .storyContent .title {
  margin-left: 100px;
  margin-right: 10px;
}
/* line 287, ../../app/stylesheets/index.scss */
#postList .storyWrapper .storyContent .title a {
  color: black;
  text-decoration: none;
  font-family: Georgia, serif;
  font-size: 1.3em;
  font-weight: normal;
}
/* line 298, ../../app/stylesheets/index.scss */
#postList .storyWrapper .storyContent .byline {
  margin-left: 100px;
  text-transform: lowercase;
  color: #666666;
  font-family: "Arial", Arial, sans-serif;
  font-size: 0.9em;
}
/* line 306, ../../app/stylesheets/index.scss */
#postList .storyWrapper .storyContent .byline span {
  text-transform: uppercase;
}

/* line 314, ../../app/stylesheets/index.scss */
#loadMore {
  background: #00a1fb;
  width: 208px;
  height: 38px;
  position: relative;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: 0 auto;
  top: -50%;
  padding-top: 5px;
  font-family: Georgia, serif;
  font-size: 1.1em;
  text-decoration: italic;
  text-align: center;
}
/* line 324, ../../app/stylesheets/index.scss */
#loadMore a {
  margin-top: 8px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-transform: lowercase;
  text-align: center;
  font-style: italic;
  font-weight: normal;
}

/* line 344, ../../app/stylesheets/index.scss */
#loadingBar {
  background: #e6e3dc;
  border-top: 1px dotted #aaa;
  margin-top: 35px;
  padding-top: 5px;
  width: 100%;
  height: 47px;
  float: left;
}

/* line 354, ../../app/stylesheets/index.scss */
#loadingStatic {
  width: 15px;
  margin-left: 9px;
  margin-bottom: -4px;
}

/* line 360, ../../app/stylesheets/index.scss */
#loadingProgress {
  display: none;
  width: 15px;
  margin-left: 9px;
  margin-bottom: -4px;
}

/* line 367, ../../app/stylesheets/index.scss */
#twitter-share {
  background: grey;
  position: relative;
  margin-bottom: 15px;
  height: 30px;
  display: none;
}
/* line 373, ../../app/stylesheets/index.scss */
#twitter-share .twitter-icon {
  display: inline-block;
}
/* line 377, ../../app/stylesheets/index.scss */
#twitter-share .twitter-text {
  display: inline-block;
  color: #000000;
}
