$text_color: #000;
$serif_font: Georgia, serif;
$sans_font: "Arial", Arial, sans-serif;

body {
	font-size: 14px;
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	background-color: #00e4ef;
	background-image: -webkit-gradient(radial, 100% 100%,100,-50% -50%,100, from(#f4f4f4),to(#00e4ef));
	background-image: -webkit-radial-gradient(0% 0%, #00e4ef, #f4f4f4);
	background-image: -moz-radial-gradient(0% 0%, #00e4ef, #f4f4f4);
	background-image: -ms-radial-gradient(0% 0%, #00e4ef, #f4f4f4);
	background-image: radial-gradient(0% 0%, #00e4ef, #f4f4f4);;
}
