@import "base";
@import "colors";
@import "footer";


.navBar {
	z-index: -3;
	display: block;
	height: 33px;
	width: 100%;
	background: black;
	font-size: 1.2em;
	color: white;
	margin-bottom: 20px;
}	

.categories{
	position: relative;
	display: inline-block;
	left: 65%;
	text-transform: uppercase;
	border-left: 1px solid white;
	border-right: 1px solid white;
	padding-left: 12px;
	padding-top: 10px;
	padding-right: 12px;
	padding-bottom: 10px;
}

.categories li {
	margin-top: 8px;
	list-style-type: none;
	display: inline-block;
}

h2 {
	text: {
		transform: uppercase;
		align: center;
	}
	font: {
		weight: bold;
		family: $sans_font;
		size: 1.4em;
	}
	margin-bottom: 5px;
}

h4 {
	font: {
		family: $serif_font;
		size: 1.2px;
	}
	text-align: center;
}
.storycontent{
	p{
		font: {
			size: 14px;
			family: $serif_font;
	}
}
}
