body {
  font-size: 10px;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%; }

#footerNav * {
  margin: 0;
  padding: 0;
  border: 0; }

#footerNav {
  display: block;
  float: left;
  width: 100%;
  height: 43px;
  background: black;
  overflow: none; }
  #footerNav .footerContainer {
    text-align: center;
    overflow: hidden;
    position: relative; }
  #footerNav li {
    width: 32%;
    height: 43px;
    list-style-type: none;
    display: inline-block;
    background: url("/images/footer_border.png") 0 0 repeat-y;
    text-align: center; }
    #footerNav li a {
      position: relative;
      top: 16px;
      height: 43px;
      font-family: "Arial", Arial, sans-serif;
      font-size: 0.8em;
      font-weight: normal;
      color: white;
      text-decoration: none;
      text-transform: uppercase; }
  #footerNav li:first-child {
    background: none; }
  #footerNav .leftTriangle,
  #footerNav .rightTriangle {
    z-index: 1;
    content: "";
    border-color: #e6e3dc transparent transparent transparent;
    border-style: solid;
    border-width: 8.5px;
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -8px; }
  #footerNav .leftTriangle {
    left: 32%; }
  #footerNav .rightTriangle {
    left: 64%; }

.colmask {
  clear: both;
  float: left;
  width: 100%;
  overflow: hidden; }

.fullpage {
  width: 96%;
  left: 2%; }

#variation-carousel {
  border: none;
  background: black;
  width: 100%;
  overflow: hidden;
  position: relative; }

#mainNavBar {
  clear: both;
  float: left;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: -10px;
  display: block;
  background: black; }
  #mainNavBar .logo {
    background: url(/images/good-lg.png) no-repeat;
    height: 25px;
    float: left;
    overflow: hidden;
    text-indent: -9999px;
    display: inline;
    width: 43.5px; }
    #mainNavBar .logo a {
      height: 25px;
      display: block; }
      #mainNavBar .logo a:hover {
        background: url(/images/good-lg-down.png) no-repeat; }

.topics {
  position: absolute;
  right: 150px;
  top: 12px;
  display: none; }

#featuredContent {
  width: 100%;
  clear: both;
  position: relative;
  padding-top: 5px;
  background-color: #000; }
  #featuredContent #holder {
    float: left;
    margin-bottom: 7px; }
  #featuredContent .galleryImageContainer {
    border-top: solid 1px #333;
    padding-top: 10px;
    padding-left: 16.3%;
    margin-right: -5%;
    margin-left: 5px;
    display: block;
    position: relative;
    width: 80%;
    overflow: hidden; }
  #featuredContent .galleryImage {
    text-align: center; }
  #featuredContent .rosas {
    width: 300px;
    height: 150px;
    margin: auto; }
  #featuredContent .origCategoryTitle {
    width: 290px;
    height: 16px;
    line-height: 1.3em;
    padding: 5px;
    position: relative;
    top: -23px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    margin: auto;
    font-size: 0.9em;
    font-family: "Arial", Arial, sans-serif; }
  #featuredContent .origPostTitle {
    position: relative;
    padding-left: 0;
    padding-bottom: 15px;
    padding-top: 12px;
    font-size: 1.7em;
    font-family: Georgia, serif;
    line-height: 1.3em;
    color: #fff;
    width: 300px;
    margin: auto; }
    #featuredContent .origPostTitle a {
      text-decoration: none;
      color: #fff;
      font-weight: normal; }
      #featuredContent .origPostTitle a:active, #featuredContent .origPostTitle a:visited {
        color: #fff; }
      #featuredContent .origPostTitle a:hover {
        color: #fff;
        text-decoration: underline; }
  #featuredContent .categoryTitle {
    position: relative;
    height: 16px;
    line-height: 1.3em;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    margin: auto;
    font-size: 0.9em;
    font-family: "Arial", Arial, sans-serif; }
  #featuredContent .categoryTitleVar {
    height: 16px;
    line-height: 1.3em;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    margin: auto;
    margin-bottom: -10px;
    font-size: 0.9em;
    font-family: "Arial", Arial, sans-serif;
    padding-bottom: 10px;
    padding-top: 7px; }
  #featuredContent #slideTitles {
    position: relative;
    overflow: hidden;
    width: 300px;
    margin: 0 auto; }
  #featuredContent .postInfo {
    float: left; }
  #featuredContent .postTitle {
    position: relative;
    padding-left: 0;
    padding-bottom: 15px;
    font-size: 1.7em;
    font-family: Georgia, serif;
    line-height: 1.3em;
    color: #fff;
    margin: auto; }
    #featuredContent .postTitle a {
      text-decoration: none;
      color: #fff;
      font-weight: normal; }
      #featuredContent .postTitle a:active, #featuredContent .postTitle a:visited {
        color: #fff; }
      #featuredContent .postTitle a:hover {
        color: #fff;
        text-decoration: underline; }

.triangle {
  z-index: 1;
  content: "";
  border-color: #000 transparent transparent transparent;
  border-style: solid;
  border-width: 15px;
  position: absolute;
  top: 98%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -15.5px; }

#recentStories {
  background: #000;
  display: block;
  float: left;
  width: 100%;
  height: 18px; }
  #recentStories .titleDivider {
    display: block;
    padding-left: 10px;
    padding-top: 5px;
    background: #09f;
    height: 25px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Arial", Arial, sans-serif;
    font-weight: normal;
    font-size: 0.9em; }

#postList {
  list-style: none;
  display: block;
  padding: 0;
  float: left;
  background: #fff; }
  #postList .storyWrapper {
    float: left;
    width: 100%;
    border-top: 1px solid #aaaaaa;
    padding-top: 8px;
    padding-bottom: 8px;
    background: #fff; }
    #postList .storyWrapper .storyContent {
      padding-left: 10px; }
      #postList .storyWrapper .storyContent .image {
        float: left;
        display: block; }
      #postList .storyWrapper .storyContent .category-title {
        margin-left: 100px;
        font-size: 0.9em;
        font-family: "Arial", Arial, sans-serif;
        text-transform: uppercase; }
        #postList .storyWrapper .storyContent .category-title {
          color: #73716e; }
        #postList .storyWrapper .storyContent .category-title.action {
          color: #00aeef; }
        #postList .storyWrapper .storyContent .category-title.art-and-design {
          color: #ff7bac; }
        #postList .storyWrapper .storyContent .category-title.business-and-money {
          color: #363795; }
        #postList .storyWrapper .storyContent .category-title.cities {
          color: #b4bbbf; }
        #postList .storyWrapper .storyContent .category-title.culture {
          color: #faa85f; }
        #postList .storyWrapper .storyContent .category-title.education {
          color: #ffcd67; }
        #postList .storyWrapper .storyContent .category-title.environment {
          color: #4b8044; }
        #postList .storyWrapper .storyContent .category-title.food {
          color: #c657a0; }
        #postList .storyWrapper .storyContent .category-title.health {
          color: #6a9ac2; }
        #postList .storyWrapper .storyContent .category-title.media {
          color: #db4140; }
        #postList .storyWrapper .storyContent .category-title.politics {
          color: #001722; }
        #postList .storyWrapper .storyContent .category-title.technology {
          color: #8f807d; }
        #postList .storyWrapper .storyContent .category-title.transportation {
          color: #ba784d; }
      #postList .storyWrapper .storyContent .title {
        margin-left: 100px;
        margin-right: 10px; }
        #postList .storyWrapper .storyContent .title a {
          color: black;
          text-decoration: none;
          font-family: Georgia, serif;
          font-size: 1.3em;
          font-weight: normal; }
      #postList .storyWrapper .storyContent .byline {
        margin-left: 100px;
        text-transform: lowercase;
        color: #666666;
        font-family: "Arial", Arial, sans-serif;
        font-size: 0.9em; }
        #postList .storyWrapper .storyContent .byline span {
          text-transform: uppercase; }

#loadMore {
  background: #00a1fb;
  width: 208px;
  height: 38px;
  position: relative;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: 0 auto;
  top: -50%;
  padding-top: 5px;
  font-family: Georgia, serif;
  font-size: 1.1em;
  text-decoration: italic;
  text-align: center; }
  #loadMore a {
    margin-top: 8px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-transform: lowercase;
    text-align: center;
    font-style: italic;
    font-weight: normal; }

#loadingBar {
  background: #e6e3dc;
  border-top: 1px dotted #aaa;
  margin-top: 35px;
  padding-top: 5px;
  width: 100%;
  height: 47px;
  float: left; }

#loadingStatic {
  width: 15px;
  margin-left: 9px;
  margin-bottom: -4px; }

#loadingProgress {
  display: none;
  width: 15px;
  margin-left: 9px;
  margin-bottom: -4px; }

#twitter-share {
  background: grey;
  position: relative;
  margin-bottom: 15px;
  height: 30px;
  display: none; }
  #twitter-share .twitter-icon {
    display: inline-block; }
  #twitter-share .twitter-text {
    display: inline-block;
    color: #000000; }
