/* line 3, ../sass/home.scss */
* {
  margin: 0px;
  padding: 0px;
}

/* line 8, ../sass/home.scss */
body {
  font-family: Arial, sans-serif;
  size: 10px;
}

/* line 15, ../sass/home.scss */
.colmask {
  display: block;
  margin: 0 auto;
  width: 100%;
}

/* line 21, ../sass/home.scss */
#mainNavBar {
  display: block;
  padding-top: 5px;
  height: 25px;
  background: black;
  color: white;
  font-family: Georgia, serif;
  font-size: 0.9em;
  text-indent: 10px;
}
/* line 33, ../sass/home.scss */
#mainNavBar a {
  text-decoration: none;
  color: white;
}

/* line 39, ../sass/home.scss */
.greeting {
  font-family: Georgia, serif;
  font-size: 0.9em;
  margin-bottom: 10px;
}

/* line 47, ../sass/home.scss */
.choice {
  size: 1.2em;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 48, ../sass/home.scss */
.choice a {
  text-decoration: none;
  color: #c657a0;
}

/* line 57, ../sass/home.scss */
#driveup {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding-top: 20px;
}
/* line 62, ../sass/home.scss */
#driveup .greeting {
  font-style: italic;
  font-size: 0.8em;
  border-bottom: 0.5px dotted black;
}

/* line 69, ../sass/home.scss */
#menu {
  display: inline-block;
  text-indent: 20px;
  text-transform: uppercase;
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 15px;
}

/* line 4, ../sass/feed.scss */
* {
  margin: 0px;
  padding: 0px;
}

/* line 9, ../sass/feed.scss */
body {
  font-family: Arial, sans-serif;
  size: 10px;
}

/* line 16, ../sass/feed.scss */
#feed {
  width: 65%;
  margin: 0 auto;
}
/* line 17, ../sass/feed.scss */
#feed .section {
  font-family: Arial, sans-serif;
  color: #666666;
  margin-bottom: 3px;
  text-transform: uppercase;
  size: 0.7em;
}
/* line 25, ../sass/feed.scss */
#feed .entree {
  font-weight: bold;
  font-family: Georgia, serif;
  font-color: #8f807d;
  margin-bottom: 10px;
}
/* line 34, ../sass/feed.scss */
#feed .order {
  text-align: center;
  text-indent: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Georgia, serif;
  font-style: italic;
}

/* line 46, ../sass/feed.scss */
.storyBlock {
  border: 1px dotted #aaaaaa;
  padding: 7px;
  margin-bottom: 20px;
  display: inline-block;
}
/* line 49, ../sass/feed.scss */
.storyBlock .newslist {
  size: 0.8em;
}
/* line 54, ../sass/feed.scss */
.storyBlock .header {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: bold;
  size: 1.1em;
}
/* line 62, ../sass/feed.scss */
.storyBlock .header span {
  color: #4b8044;
  margin-bottom: 5px;
  text-transform: none;
  font-family: Georgia, serif;
  font-size: 0.9em;
  font-style: italic;
}
/* line 74, ../sass/feed.scss */
.storyBlock .content {
  size: 0.9em;
}

/* line 79, ../sass/feed.scss */
.finish {
  margin-bottom: 20px;
}
/* line 81, ../sass/feed.scss */
.finish a {
  text-decoration: none;
  color: black;
  font-family: Georgia, serif;
  font-size: 1.0em;
  font-style: italic;
}
